body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #062230;
  /* background-image: url('/public/Law\ Firm\ Website\ in\ Cream\ Grey\ Olive\ Green\ Neo\ Classical\ Style\ \(1\).png'); */
  /* Specify the path to your image */
  background-size: cover;
  /* Cover the entire background */
  background-position: center;
  /* Center the background image */
  background-repeat: no-repeat;
  /* Do not repeat the background image */
  contain: 100%;
} 